#map {
    height: 400px;
    width: auto;
}

#floating-panel {
    position: static;
    width: 400px;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #feefed;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    padding-left: 10px;
}