/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2017, 9:48:43 PM
    Author     : Babis Alexiou
*/

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

