.card {
    height: 250px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-size: cover !important;
    color: white;
    position: relative;
    border-radius: 5px;
    margin-bottom: 20px;
}
.card-user {
    position: absolute;
    right: 10px;
    top: 10px;
}
.card-category {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}
.card-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.card-description h2 {
    color: white;
    text-transform: none;
    font-size: 22px;
}
.card-description p {
    font-size: 15px;
}
.card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index:2;
    background: black;
    opacity: 0;
}
.card-link:hover{
    opacity: 0.1;
}