

body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-color: #FA8072;
    font-family: 'Oxygen', sans-serif;
}

.main {
    margin-top: 70px;
}

h1.title {
    font-size: 50px;
    color: #FFF5EE;
    font-family: 'Camelia', cursive;
    font-weight: 400;
}
h2.title {
    font-size: 20px;
    color: #FFF5EE;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

hr {
    width: 10%;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login {
    background-color: #FFF5EE;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0 , 0 ,0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0 ,0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
    margin: 0 auto;
    margin-top: 30px;
    max-width:330px;
    padding: 40px 40px;
}

.login-button {
    margin-top: 5px;
    color: #FA8072;
    background-color: #FDF5E6;
    border-color: #FA8072;
}

.login-button:hover {
    margin-top: 5px;
    color: #FDF5E6;
    background-color: #FA8072;
    border-color: #FDF5E6;
}

.login-register {
    font-size: 14px;
    text-align: center;
}
@font-face {
    font-family: Camelia;
    src: url(fonts/CamelliaScript.otf);
}