@import url("feature.css");
@import url("back_to_top.css");
@import url("avatar.css");
@import url("card.css");

body {
      font: 400 15px Lato, sans-serif;

      color: #818181;
      height: 100%;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }
  .jumbotron {
      background-color: #FA8072;
      color: #fff;
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
  }
  .jumbotron h1{
      font-family: Camelia;
      font-size: 72pt;
  }
  .jumbotron p{
      font-family: SpoonHairline;
      font-size: 18pt;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #FA8072;
      font-size: 50px;
  }
  .logo {
      color: #FA8072;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }

  .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 375px;
        height: 500px;
        margin: auto;
    }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #FA8072;
  }
  .carousel-indicators li {
      border-color: #FA8072;
  }
  .carousel-indicators li.active {
      background-color: #FA8072;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .padded {
    padding: 100px 0;
   }
  .panel {
      border: 1px solid #FA8072;
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #FA8072;
      background-color: #fff !important;
      color: #FA8072;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #FA8072 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #FA8072;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #FA8072;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 1px;
      border-radius: 0;
      /*font-family: Montserrat, sans-serif;*/
      font-family: SpoonRegular;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }

  .navbar-brand{
      font-family: Ostrich;
      font-size: 24px;
  }

.navbar-default .navbar-nav > .active{
    color: #FA8072;
    background: #FA8072;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FA8072;
    background: #FA8072;
}

#profile_image {
    height: 30px;
}

#filter_col6{
    position: relative;
    top: 200%;
    left: 20%;
    margin-top: 200px;
    margin-left: -50px;

}
/*.navbar-nav > li > .dropdown-menu {
    background-color: #FA8072;
}*/

/*-- change navbar dropdown color --*/
.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #FA8072;
    color:#ffffff;
}



  /*.navbar-nav li a:hover, .navbar-nav li.active a {
      color: #FA8072 !important;
      background-color: #fff !important;
  }*/
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }

.show-on-hover:hover > ul.dropdown-menu {
    display: block;
}

  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #FA8072;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  .wrapper-grey {
      background: #DDDDDD;
  }
  .wrapper-white {
      background: white;
  }
  
  @font-face{
      font-family: myFont;
      src: url(fonts/ArgonPERSONAL-Regular.otf);
  }

  @font-face {
      font-family: Ostrich;
      src: url(fonts/ostrich-sans-bold.ttf);
  }

  @font-face {
      font-family: Camelia;
      src: url(fonts/CamelliaScript.otf);
  }

  @font-face {
      font-family: SpoonRegular;
      src: url(fonts/SpoonRegular.ttf);
  }

  @font-face {
      font-family: SpoonHairline;
      src: url(fonts/SpoonHairline.ttf);
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }