.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../images/image_04.jpeg");
    background-repeat: repeat;
}

div.bhoechie-tab-container{
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 70px;
    margin-left: 50px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

div.bhoecie-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.bhoechie-tab-menu ul.list-group{
    margin-bottom: 0;
    width: 150px;
    list-style: none;
}

div.bhoechie-tab-menu il.list-group>a{
    margin-bottom: 0;
    width: 150px;
    text-align: left;
}

div.bhoechie-tab-menu ul.list-group>a .glyphicon,
div.bhoechie-tab-menu ul.list-group>a .fa {
    color: #e17366;
}

div.bhoechie-tab-menu ul.list-group>a:first-child{
    border-top-right-radius: 0;
    width: 150px;
    -moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu ul.list-group>a:last-child{
    border-bottom-right-radius: 0;
    width: 150px;
    -moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu ul.list-group>a.active,
div.bhoechie-tab-menu ul.list-group>a.active .glyphicon,
div.bhoechie-tab-menu ul.list-group>a.active .fa{
    background-color: #FA8072;
    color: #ffffff;
}
div.bhoechie-tab-menu ul.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #e17366;
}

div.bhoechie-tab-content{
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
    display: none;
}

#user_profile_image{
    height: 250px;
}

h5{
    font-size: 12pt;
    color: #000000;
}